@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7vfq5g');
  src:  url('fonts/icomoon.eot?7vfq5g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7vfq5g') format('truetype'),
    url('fonts/icomoon.woff?7vfq5g') format('woff'),
    url('fonts/icomoon.svg?7vfq5g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Autorizar:before {
  content: "\e95b";
}
.icon-Reverso:before {
  content: "\e95c";
}
.icon-Santand2:before {
  content: "\e95a";
}
.icon-Santande:before {
  content: "\e959";
}
.icon-Report_2:before {
  content: "\e940";
}
.icon-Aceptar:before {
  content: "\e941";
}
.icon-Benefic:before {
  content: "\e942";
}
.icon-Borrar:before {
  content: "\e943";
}
.icon-Buscar:before {
  content: "\e944";
}
.icon-Canc_Fact .path1:before {
  content: "\e945";
  color: rgb(1, 1, 1);
}
.icon-Canc_Fact .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-Canc_Fact .path3:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Canc_Fact .path4:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Canc_Fact .path5:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Cancelar:before {
  content: "\e94a";
}
.icon-Cargar:before {
  content: "\e94b";
}
.icon-Catalog:before {
  content: "\e94c";
}
.icon-Cerrar:before {
  content: "\e94d";
}
.icon-Cerrar_2:before {
  content: "\e94e";
}
.icon-Descuen:before {
  content: "\e94f";
}
.icon-Editar:before {
  content: "\e950";
}
.icon-Filiales:before {
  content: "\e951";
}
.icon-Guardar:before {
  content: "\e952";
}
.icon-Masiva:before {
  content: "\e953";
}
.icon-Nuevo:before {
  content: "\e954";
}
.icon-PDF:before {
  content: "\e955";
}
.icon-XLS:before {
  content: "\e956";
}
.icon-XML_cAdd:before {
  content: "\e957";
}
.icon-XML_sAdd:before {
  content: "\e958";
}
.icon-Act_Foli:before {
  content: "\e900";
}
.icon-Addenda:before {
  content: "\e901";
}
.icon-Adm_Bran:before {
  content: "\e902";
}
.icon-Alert_Ce:before {
  content: "\e903";
}
.icon-Alert_Ra:before {
  content: "\e904";
}
.icon-Area_Res:before {
  content: "\e905";
}
.icon-Cancelac:before {
  content: "\e906";
}
.icon-Canc_Com:before {
  content: "\e907";
}
.icon-Cert_Se:before {
  content: "\e908";
}
.icon-CFD:before {
  content: "\e909";
}
.icon-CFD_CV22:before {
  content: "\e90a";
}
.icon-CFD_Dona:before {
  content: "\e90b";
}
.icon-CFD_Emit:before {
  content: "\e90c";
}
.icon-CFD_EDiv:before {
  content: "\e90d";
}
.icon-CFD_EPaL:before {
  content: "\e90e";
}
.icon-CFDI_C33:before {
  content: "\e90f";
}
.icon-CFD_ReXM:before {
  content: "\e910";
}
.icon-CFD_Reci:before {
  content: "\e911";
}
.icon-Cliente:before {
  content: "\e912";
}
.icon-Cod_Iso:before {
  content: "\e913";
}
.icon-Comp_Pag:before {
  content: "\e914";
}
.icon-Cons_Fisc:before {
  content: "\e915";
}
.icon-Con_EsCu:before {
  content: "\e916";
}
.icon-Cons_Rep:before {
  content: "\e917";
}
.icon-Corr_PEF:before {
  content: "\e918";
}
.icon-CV_Divis:before {
  content: "\e919";
}
.icon-ECB_Hist:before {
  content: "\e91a";
}
.icon-Ent_Fisc:before {
  content: "\e91b";
}
.icon-Estado:before {
  content: "\e91c";
}
.icon-Est_Cuen:before {
  content: "\e91d";
}
.icon-Factura:before {
  content: "\e91e";
}
.icon-Facturac:before {
  content: "\e91f";
}
.icon-Fact_Man:before {
  content: "\e920";
}
.icon-Fact_Mas:before {
  content: "\e921";
}
.icon-Fac_MaDi:before {
  content: "\e922";
}
.icon-Fac_MaDo:before {
  content: "\e923";
}
.icon-Fac_MaPa:before {
  content: "\e924";
}
.icon-Fac_MaQu:before {
  content: "\e925";
}
.icon-Iva:before {
  content: "\e926";
}
.icon-Logo:before {
  content: "\e927";
}
.icon-Menu:before {
  content: "\e928";
}
.icon-Me_PaECB:before {
  content: "\e929";
}
.icon-Moneda:before {
  content: "\e92a";
}
.icon-Not_Cred:before {
  content: "\e92b";
}
.icon-Pagina:before {
  content: "\e92c";
}
.icon-Pais:before {
  content: "\e92d";
}
.icon-Permisos:before {
  content: "\e92e";
}
.icon-Proveedo:before {
  content: "\e92f";
}
.icon-Ran_Foli:before {
  content: "\e930";
}
.icon-Rec_Masi:before {
  content: "\e931";
}
.icon-Rec_Dona:before {
  content: "\e932";
}
.icon-Reg_Fisc:before {
  content: "\e933";
}
.icon-Reporte:before {
  content: "\e934";
}
.icon-Rep_Fact:before {
  content: "\e935";
}
.icon-Rep_FaDi:before {
  content: "\e936";
}
.icon-Rep_Mens:before {
  content: "\e937";
}
.icon-Res_Inci:before {
  content: "\e938";
}
.icon-Rol:before {
  content: "\e939";
}
.icon-Serie:before {
  content: "\e93a";
}
.icon-Sol_CFac:before {
  content: "\e93b";
}
.icon-Sucursal:before {
  content: "\e93c";
}
.icon-Tip_ComP:before {
  content: "\e93d";
}
.icon-Tip_RepB:before {
  content: "\e93e";
}
.icon-Usuario:before {
  content: "\e93f";
}
